In [1]:
import sqlite3
from sqlite3 import Error

In [3]:

conn = sqlite3.connect('sqlite_db_pythonsqlite.db')

In [5]:
cur = conn.cursor()
    
query1 = """
    SELECT *
    FROM FACILITIES
    """
cur.execute(query1)

rows = cur.fetchall()

for row in rows:
    print(row)

(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [8]:
"""
Query all rows in the tasks table
:param conn: the Connection object
:return:
"""
cur = conn.cursor()

query = """
WITH sub AS (
SELECT *,
    CASE 
        WHEN m.memid = 0 THEN f.guestcost * b.slots
        ELSE f.membercost * b.slots 
    END AS booking_cost
FROM Bookings AS b
JOIN Facilities AS f
ON b.facid = f.facid
JOIN Members AS m
ON b.memid = m.memid
) 
SELECT name, SUM(booking_cost) AS revenue
FROM sub
GROUP BY name 
HAVING revenue < 1000
ORDER BY revenue DESC
"""
cur.execute(query)

rows = cur.fetchall()

for row in rows:
    print(row)

('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

In [9]:
"""
Query all rows in the tasks table
:param conn: the Connection object
:return:
"""
cur = conn.cursor()     

query = """
SELECT  m1.surname || ', ' || m1.firstname AS recommended, m2.surname || ', ' || m2.firstname AS recommender
FROM Members AS m1
JOIN Members AS m2
ON m1.recommendedby = m2.memid
ORDER BY m1.surname, m1.firstname
"""
cur.execute(query)

rows = cur.fetchall()

for row in rows:
    print(row)

('Bader, Florence', 'Stibbons, Ponder')
('Baker, Anne', 'Stibbons, Ponder')
('Baker, Timothy', 'Farrell, Jemima')
('Boothe, Tim', 'Rownam, Tim')
('Butters, Gerald', 'Smith, Darren')
('Coplin, Joan', 'Baker, Timothy')
('Crumpet, Erica', 'Smith, Tracy')
('Dare, Nancy', 'Joplette, Janice')
('Genting, Matthew', 'Butters, Gerald')
('Hunt, John', 'Purview, Millicent')
('Jones, David', 'Joplette, Janice')
('Jones, Douglas', 'Jones, David')
('Joplette, Janice', 'Smith, Darren')
('Mackenzie, Anna', 'Smith, Darren')
('Owen, Charles', 'Smith, Darren')
('Pinker, David', 'Farrell, Jemima')
('Purview, Millicent', 'Smith, Tracy')
('Rumney, Henrietta', 'Genting, Matthew')
('Sarwin, Ramnaresh', 'Bader, Florence')
('Smith, Jack', 'Smith, Darren')
('Stibbons, Ponder', 'Tracy, Burton')
('Worthington-Smyth, Henry', 'Smith, Tracy')

In [10]:
"""
Query all rows in the tasks table
:param conn: the Connection object
:return:
"""
cur = conn.cursor()

query = """
SELECT f.name, 
ROUND(100.0 * SUM(slots)/
(
    SELECT SUM(slots)
    FROM Bookings
    WHERE memid != 0
), 2) AS percentage_of_usage_by_members
FROM Bookings as b
LEFT JOIN Facilities as f
ON b.facid = f.facid
WHERE memid != 0
GROUP BY f.name
"""
cur.execute(query)

rows = cur.fetchall()

for row in rows:
    print(row)

('Badminton Court', 15.99)
('Massage Room 1', 13.02)
('Massage Room 2', 0.8)
('Pool Table', 12.6)
('Snooker Table', 12.66)
('Squash Court', 6.16)
('Table Tennis', 11.69)
('Tennis Court 1', 14.09)
('Tennis Court 2', 12.99)